html, body {
    font-family: Arial, sans-serif;
}

#header {
    background-color: #1a87ff;
    color: #e8e8e8;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 82px;
}

#header a {
    text-decoration: none;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

#header ul {
    text-decoration: none;
    margin-top: auto;
    margin-bottom: 0;
    padding-bottom: 10px;
    font-size: 20px;
}

#header li {
    display: inline-block;
    margin-right: 10px;
}

#header li div {
    background-color: #e8e8e8 !important;
    text-align: left;
}

#header li div span {
    display: block;
}

#header li div span:hover {
    cursor: pointer;
}

#brand {
    font-size: 40px;
}

#content {
    margin-left: 350px;
    margin-right: 350px;
    padding: 82px 25px 90px 25px;
    background-color: #f5f5f5;
    box-shadow: 10px 0 15px darkgray;
    min-height: 800px;
}

#notrePlateforme  {
    margin-top: 0;
}

h1 {
    margin-left: 30px !important;
}

h3 {
    margin-left: 50px !important;
}

#ourValue {
    margin: auto;
    height:400px;
    width: 600px;
}

#ourValue img {
    border-radius: 50%;
}

#ourValue .value {
    display: inline-block;
    text-align: center;
    width: 200px;
}

#knowledge {
    margin-left: 6%;
}

#sharing {
    margin-left: 12%;
}

#community {
    margin-left: 30%;
}

#banner {
    width: 100%;
    height: 380px;
    background: url("banner.jpg") center center no-repeat;
    background-size: cover;
    margin: -8px 0 0 -8px;
    padding-right: 16px;
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width:30%;
    border-radius:5px;
}

/* effet d'ombre   */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.container {
    padding: 2px 16px;
}



.banderolle{

padding:10px;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
width:50%;
border-radius:5px;
}


#achievements{

    display:inline-block;
    object-fit:cover;
}


#information{

    border: 2px solid;
    padding:10px;
    box-shadow:5px 10px:;
    display:inline-block;
}

#score{

    float:right;
    border:1px solid;
    box-shadow:5px 10px;
    display:inline-block;
}


#TitreTutoriel{

    border:2px solid;
    box-shadow:5px 10px;
    border-radius:5px;
    padding:10px;
    text-align:left;
}



#TutorielContenu{

    border:2px solid;
    box-shadow:5px 10px;
    border-radius:5px;
    padding:10px;
    height:50%;
}

#commentaire{
    margin-left: 350px;
    margin-right: 350px;
    padding: 82px 25px 90px 25px;
    background-color: #f5f5f5;
    box-shadow: 10px 0 15px darkgray;
    min-height: 400px;
}

#commentaires{


    border: 2px solid;
    padding:10px;
    box-shadow:5px 10px:;
}